@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

:root {
    --blue: #4682B4;
    --white: #fff;
    --grey: #f5f5f5;
    --black1: #222;
    --blue2: #50394c;
    --size: 300px;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    /*border: 1px solid red;*/
}

.container {
    position: relative;
    width: 100%;
}

.navigation {
    position: fixed;
    width: 225px;
    height: 100%;
    background: var(--blue);
    border-left: 10px solid var(--blue);
    transition: 0.5s;
    overflow: hidden;
}

.navigation.active {
    width: 75px;
}

.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navigation ul li {
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.navigation ul li:hover,
.navigation ul li.hovered {
    background: var(--white);
}

.navigation ul li:nth-child(1) {
    margin-top: 15px;
    margin-bottom: 40px;
    pointer-events: none;
}

.navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white);
}

.navigation ul li:hover a,
.navigation ul li.hovered a {
    color: var(--blue);
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}

.navigation ul li a .icon ion-icon {
    font-size: 1.7em;
}

.navigation ul li a .title {
    position: relative;
    display: block;
    padding: 0 8px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

/*curve outside*/
.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
    content: '';
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--white);
    pointer-events: none;
}

.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--white);
    pointer-events: none;
}

/* main */
.main {
    position: absolute;
    width: calc(100% - 225px);
    left: 225px;
    top: 15px;
    /* 80px yerine istediğiniz bir değeri kullanabilirsiniz */
    min-height: calc(100vh - 80px);
    /* Kalan alanın 80px azaltılması */
    background: var(--white);
    transition: 0.5s;
}

.main.active {
    width: calc(100% - 75px);
    left: 75px;
}

.topbar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    border-bottom: 5px solid var(--blue);
    /* Üst kısma ince bir çizgi ekler */
    padding-bottom: 10px;
    /* Opsiyonel: Çizginin altındaki boşluğu ayarlar */
}

.toggle {
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    cursor: pointer;
}

.digitalClock {
    display: flex;
    /* Yatayda hizalamak için flex özelliğini ekleyin */
    justify-content: center;
    /* İçerikleri yatayda ortalamak için */
    align-items: center;
    /* İçerikleri dikeyde ortalamak için (opsiyonel) */
    position: relative;
    font-weight: 300;
    font-size: 1.5rem;
    color: var(--black1);
}

.user {
    position: relative;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid black;
}

.user img {
    position: absolute;
    top: 0;
    left: 0;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}

.cardBox {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}

.cardBox .card {
    position: relative;
    background: var(--white);
    padding: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.8);
}

.cardBox .card:hover {
    transform: translateY(-5px);
    border-radius: 20px;
    /* Kartın yukarı doğru kaymasını sağlar */
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.6);
    /* Yükseltilmiş gölge efekti */
}

.cardBox .card .cardName {
    font-size: 1rem;
    color: var(--black1);
}

.card .iconBx ion-icon {
    font-size: 2rem;
    /* İkonun boyutunu 24 piksel olarak ayarlar */
    --ionicon-stroke-width: 25px;
    /* İkonun kalınlığını 2 piksel olarak ayarlar */
    color: var(--blue2);
}

.cardBox .card .studentNumber {
    display: flex;
    /* Yatayda hizalamak için flex özelliğini ekleyin */
    margin-top: 10px;
    justify-content: center;
    /* İçerikleri yatayda ortalamak için */
    align-items: center;
    /* İçerikleri dikeyde ortalamak için (opsiyonel) */
    position: relative;
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--black1);
}

.cardBox .card .dailyDate {
    display: flex;
    /* Yatayda hizalamak için flex özelliğini ekleyin */
    justify-content: center;
    /* İçerikleri yatayda ortalamak için */
    align-items: center;
    /* İçerikleri dikeyde ortalamak için (opsiyonel) */
    margin-top: 10px;
    position: relative;
    font-weight: 500;
    font-size: 1rem;
    color: var(--black1);
}

.cardBox .card .meetingPlan {
    display: flex;
    /* Yatayda hizalamak için flex özelliğini ekleyin */
    justify-content: center;
    /* İçerikleri yatayda ortalamak için */
    align-items: center;
    /* İçerikleri dikeyde ortalamak için (opsiyonel) */
    margin-top: 10px;
    position: relative;
    font-weight: 500;
    font-size: 1rem;
    color: var(--black1);
}

.cardBox .card .lessonTitle {
    display: flex;
    /* Yatayda hizalamak için flex özelliğini ekleyin */
    justify-content: center;
    /* İçerikleri yatayda ortalamak için */
    align-items: center;
    /* İçerikleri dikeyde ortalamak için (opsiyonel) */
    margin-top: 10px;
    position: relative;
    font-weight: 500;
    font-size: 1rem;
    color: var(--black1);
}

.containerNotes {
    background: #2f363e;
    position: relative;
    top: 35px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    padding: 60px;
    border-radius: 13px;
}

.containerNotes h1 {
    color: var(--white);
    font-family: 'Handlee', cursive;

}

.containerNotes .notes {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.containerNotes .notes .note {
    position: relative;
    width: var(--size);
    height: var(--size);
    padding: 40px;
    overflow: auto;
    word-wrap: break-word;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
}

.containerNotes .notes .note::before {
    content: 'Double Click to Remove This Note';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.25);
    padding: 3px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85em;
    opacity: 0;
    transition: 0.5s;
    z-index: 1;
}

.containerNotes .notes .note:hover::before {
    opacity: 1;
}

#create {
    position: relative;
    width: var(--size);
    height: var(--size);
    background-color: rgba(255, 255, 255, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    cursor: pointer;
}

#create i {
    position: absolute;
    color: #fff;
}

.createBox {
    position: relative;
    width: var(--size);
    height: var(--size);
    z-index: 1000;
    display: none;
}

.createBox textarea {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--size);
    height: var(--size);
    padding: 40px;
    outline: none;
    font-size: 0.2em;
    resize: none;
}

.details h3 {
    font-family: 'Handlee', cursive;
    user-select: none;
    font-size: 1.45em;
}

.containerTable {
    /*max-width: 900px;*/
    width: 100%;
    background-color: #fff;
    margin: auto;
    padding: 30px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    overflow-x: auto;
    /*border: 1px solid red;*/
    gap: 20px;
}

.inputBox,
.tableBox {
    width: 100%;
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 2px 20px #0001, 0 1px 6px #0001;
    border-radius: 10px;
    overflow-x: auto;
    /*border: 1px solid red;*/
    margin-bottom: 20px;
    border: 2px solid #ccc;
}

.inputBox {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
}

.addButton {
    height: 40px;
    background-color: goldenrod;
    color: #fff;
}

.addButton:hover {
    background-color: darkgoldenrod;
}

.inputBox input {
    height: 40px;
    /* Örnek olarak 40 piksel yükseklik */
}

._table {
    width: 100%;
    border-collapse: collapse;
}

._table :is(th, td) {
    border: 2px solid #0002;
    padding: 8px 10px;
}

/* 4. sütundan 9. sütuna kadar olan hücrelerin içeriğini ortala */
._table td:nth-child(n+4):nth-child(-n+9),
._table th:nth-child(n+4):nth-child(-n+9) {
    text-align: center;
}

.danger {
    background-color: red;
    color: white;
    padding: 4px 8px;
    border-radius: 1px;
    cursor: pointer;
}

.edit {
    background-color: green;
    color: white;
    padding: 4px 8px;
    border-radius: 1px;
    cursor: pointer;
}

.edit:hover {
    background-color: darkgreen;
}

.danger:hover {
    background-color: darkred;
}

.AnalysisPage {
    /* Yatayda ve dikeyde merkezde olacak şekilde ortalanma */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    width: 100%;
    height: 100%;
}

.AnalysisPage .graphBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
    padding: 2%;
    gap: 30px;
    height: 100%;
    border-radius: 20px;
    margin: auto;
       border: 2px solid red;
    /* Bu satırı ekleyin */
}

.AnalysisPage .graphBox .box {
    width: 100%;
    max-height: 800px;
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    border: 2px solid #ccc;
}

.ProfilePage {
    width: 100%;
    height: 100vh;
    /* Ekran yüksekliği kadar genişlik */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4%;
}

.ProfilePage .person-card {
    display: flex;
    flex-wrap: wrap;
    /* Elemanlar sıralandığında, sığmazlarsa alt satıra geçmesini sağlar */
    justify-content: center;
    /* İçeriklerin merkezi hizalanması */
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    height: 65%;
}

.ProfilePage .person-info {
    flex: 1;
    /* Eşit genişlik almasını sağlar */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.person-info img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.person-info h2 {
    margin: 10px 0;
    font-size: 24px;
    margin-bottom: 10px;
}

.person-info p {
    margin: 5px 0;
    font-size: 16px;
    margin-bottom: 10px;
}

.edit-form-container {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    /* Eşit genişlik almasını sağlar */
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 3%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.edit-form-container input {
    margin-bottom: 10px;
}

.ProfilePage .mapContainer {
    height: 50%;
    width: 100%;
    margin-top: 4%;
}

.mapContainer #map {
    height: 90%;
    width: 100%;
    border: 2px solid #ccc;
    cursor: crosshair;
    border-radius: 10px;
}

.IntroPage {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.full-page-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    width: 70%;
    height: 90%;
    background-image: url('fsmvu_logo.jpg');
    background-size: cover;
    opacity: 0.5;
    cursor: pointer;
}

.SignOutPage {
    /* Yatayda ve dikeyde merkezde olacak şekilde ortalanma */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.SignOutPage .imgBox {
    position: relative;
    /* Set a fixed width and height or adjust as needed */
    width: 450px;
    /* For example */
    height: 450px;
    /* For example */
    margin: auto;
}

/* Tablet boyutları için medya sorgusu */
@media (max-width: 991px) {
    .navigation {
        left: -300px;
    }

    .navigation.active {
        width: 300px;
        left: 0;
    }

    .main {
        width: 100%;
        left: 0;
    }

    .main.active {
        left: 300px;
    }

    .cardBox {
        grid-template-columns: repeat(2, 1fr);
        /* Sadece bir sütun olarak düzenleme */
    }

    .graphBox {
        overflow-x: auto;
        /* Yatay kaydırma çubuğunu etkinleştir */
        overflow-y: hidden;
        /* Dikey kaydırmayı gizle */
        white-space: nowrap;
    }

    .graphBox .box {
        display: inline-block;
        /* Kutuları yan yana hizalamak için inline-block kullan */
        white-space: normal;
        /* Normal boşluklarla yazıları sarma */
        width: 100%;
        /* Kutuların genişliğini ayarla */
        margin-bottom: 20px;
        /* İstenirse kutular arasına bir boşluk bırakabilirsiniz */
    }

    .addButton {
        height: 40px;
    }
}

@media (max-width: 768px) {
    .cardBox {
        grid-template-columns: repeat(2, 1fr);
        /* Sadece bir sütun olarak düzenleme */
    }

    .cardBox .card .studentNumber {
        font-weight: 500;
        font-size: 1.2rem;
    }

    .cardBox .card .dailyDate {
        font-weight: 500;
        font-size: 0.9rem;
    }

    .cardBox .card .meetingPlan {
        font-weight: 500;
        font-size: 0.9rem;
    }

    .cardBox .card .lessonTitle {
        font-weight: 500;
        font-size: 0.9rem;
    }

    .addButton {
        height: 40px;
    }

    .AnalysisPage .graphBox {
        gap: 20px;
    }

    .SignOutPage .imgBox {
        width: 450px;
        height: 450px;
    }
}